<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Polls</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
    {% block head %}
    {% endblock %}
  </head>
  <body class="background font-color">
    <header>
      {% include "navbar.njk" %}
    </header>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <footer>
      <script src="/script/navbar.js"></script>
      <script src="/script/alterarTema.js"></script>
    </footer>
  </body>
</html>
