{% extends "base.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/formulario.css">
{% endblock %}

{% block main %}
  <form class="form" action="/conta/cadastro" method="POST">
    <h1 class="form__title">Cadastro</h1>
    <label for="username">Nome de usuário</label>
    <input class="form__input" name="username" type="text" required placeholder="Digite um nome de usuário" minlength="4"/>
    <label for="password">Senha</label>
    <input class="form__input" name="password" type="password" required placeholder="Digite uma senha" autocomplete="current-password" minlength="6"/>
    <label for="email">E-mail</label>
    <input class="form__input" name="email" type="email" required placeholder="Digite seu e-mail" autocomplete="email"/>
    <button type="submit">Enviar</button>
  </form>
{% endblock %}