{% extends "base.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/formulario.css"/>
{% endblock %}

{% block main %}
  <form class="form" action="/" method="POST">
    <input class="form__input" name="title" type="text" placeholder="Título da votação" required>
    <input class="form__input" name="choice-1" type="text" placeholder="Teste" required/>
    <button type="submit">Começar votação</button>
  </form>
{% endblock %}