{% extends "base.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/formulario.css"/>
{% endblock %}

{% block main %}
  <form class="form" action="/" method="POST">
    <input class="form__input form__input--title" name="title" type="text" placeholder="Título da votação" maxlength="50" required>
    <div id="choices">
      <input class="form__input" name="choice-1" type="text" placeholder="Digite uma opção" maxlength="100"/>
      <input class="form__input" name="choice-2" type="text" placeholder="Digite uma opção" maxlength="100"/>
      <input class="form__input" name="choice-3" type="text" placeholder="Digite uma opção" maxlength="100"/>
    </div>
    <button type="submit">Começar votação</button>
  </form>
{% endblock %}

{% block footer %}
  <script src="/script/pollCreation.js"></script>
{% endblock %}