{% extends "base.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/poll.css"/>
{% endblock %}

{% block main %}
  <form class="poll">
    <h1 class="poll__title">{{ poll.title }}</h1>
    {% for choice in choices %}
      <div class="poll__container">
        {% if poll.is_active %}
          <input value="{{ choice.id }}" name="choice" type="radio"/>
        {% else %}
          <input value="{{ choice.id }}" disabled name="choice" type="radio"/>
        {% endif %}
        <div class="choice">
          <div class="choice__description">{{ choice.description }}</div>
          <div class="choice__progress-bar" style="width: {{ choice.number_of_votes / totalVotes * 100 }}%;"></div>
        </div>
        {% if totalVotes and choice.number_of_votes %}
          <span>{{ (choice.number_of_votes / totalVotes * 100) | round }}%</span>
        {% else %}
          <span>0%</span>
        {% endif %}
      </div>
    {% endfor %}
    {% if poll.is_active %}
      <button id="submit-button" class="poll__submit-button" type="submit">Votar</button>
    {% endif %}
    {% if userIsOwner and poll.is_active %}
      <button id="end-poll-button" class="poll__end-button" type="button">Terminar votação</button>
    {% endif %}
  </form>
  <div class="poll__alert"></div>
{% endblock %}

{% block footer %}
  {% if poll.is_active %}
    <script src="/script/pollHandler.js"></script>
  {% endif %}
{% endblock %}