{% extends "base.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/poll.css"/>
{% endblock %}

{% block main %}
  <form class="poll-form">
    <h1>{{ poll.title }}</h1>
    {% for choice in choices %}
      <div class="poll-container">
        <input value="{{ choice.id }}" name="choice" type="radio"/>
        <div class="choice">
          <div class="choice__description">{{ choice.description }}</div>
          <div class="choice__progress-bar" style="width: {{ choice.number_of_votes / totalVotes * 100 }}%;"></div>
        </div>
        {% if totalVotes and choice.number_of_votes %}
          <span>{{ (choice.number_of_votes / totalVotes * 100) | round }}%</span>
        {% else %}
          <span>0%</span>
        {% endif %}
      </div>
    {% endfor %}
    <button id="submit-button" type="submit">Votar</button>
  </form>
{% endblock %}

{% block footer %}
  <script src="/script/choiceHandler.js"></script>
{% endblock %}