:root {
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.theme-dark {
  --primary-color: #F08335;
  --secondary-color: #f8a971;
  --background-color: #393939;
  --font-color: #ffffff;
}

.theme-light {
  --primary-color: #162C9a;
  --secondary-color: #6c7ed6;
  --background-color: #f4f4f4;
  --font-color: #000000;
}

.background {
  background-color: var(--background-color);
}

.font-color {
  color: var(--font-color);
}
