:root {
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.theme-dark {
  --primary-color: #6de490;
  --secondary-color: #80dbb1;
  --background-color: #393939;
  --font-color: #ffffff;
}

.theme-light {
  --primary-color: #6de490;
  --secondary-color: #80dbb1;
  --background-color: #f4f4f4;
  --font-color: #000000;
}

.background {
  background-color: var(--background-color);
}

.font-color {
  color: var(--font-color);
}

/* Alerts */
.alert {
  border-radius: 100px;
  padding: 12px;
  margin: 15px auto;
  width: fit-content;
  color: #000000;
}

.alert__button {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  font-size: 0.9em;
}

.alert__button:hover {
  opacity: 50%;
}

.alert--success {
  background-color: #3ada70;
  border: 1px solid #228845;
}

.alert--warning {
  background-color: #f2cf18;
  border: 1px solid #c1a616;
}

.alert--error {
  background-color: #f54c41;
  border: 1px solid #c94239;
}
