.form {
  width: 500px;
  margin: 50px auto;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px;
}

.form__title {
  border-bottom: 1px solid var(--secondary-color);
}

.form__alert {
  width: fit-content;
  margin: auto;
}

.form__input {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  color: inherit;
  border-bottom: 1px solid var(--secondary-color);
  outline: none;
  font-size: 1em;
  margin-bottom: 15px;
}

.form__input--title {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.form__submit-button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 5px;
}

.form__submit-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

@media only screen and (max-width: 600px) {
  .form {
    width: 90%;
  }
}
