.navbar {
  display: flex;
  width: 100%;
  min-height: 63px;
  padding: 10px 20px 10px 20px;
  gap: 30px;
  border-bottom: 2px solid var(--primary-color);
}

.navbar__toggler {
  display: none;
  width: 50px;
  height: 38px;
  background: repeating-linear-gradient(
    var(--primary-color),
    var(--primary-color) 8px,
    transparent 8px,
    transparent 15px
  );
  border: none;
  padding: 0;
}

.navbar__toggler:focus {
  opacity: 70%;
}

.navbar__container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  place-items: center;
}

.navbar__menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar__menu--start {
  align-items: center;
  justify-content: start;
}

.navbar__menu--end {
  align-items: center;
  justify-content: end;
}

.navbar__link {
  text-decoration: none;
  color: var(--font-color);
}

.navbar__link:hover {
  opacity: 75%;
}

.navbar__search {
  display: flex;
  width: 300px;
  margin: auto;
}

.search__input {
  height: 30px;
  width: 90%;
  outline: none;
  font-size: inherit;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 10px 0px 0px 10px;
}

.search__submit-button {
  height: 30px;
  background-color: var(--secondary-color);
  border: 1px solid transparent;
  border-radius: 0px 10px 10px 0px;
}

.search__submit-button:hover {
  opacity: 75%;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .navbar__container, .navbar__menu {
    display: flex;
    flex-direction: column;
    place-items: start;
    gap: 10px;
  }

  .navbar__toggler {
    display: inline;
  }

  .navbar__search {
    width: 100%;
    margin: 0;
  }

  .collapsed {
    display: none;
  }
}
